
#box {
    background-color: rgb(2, 74, 255);
    width: 250px;
    height: 70px;
    display: grid;
    place-items: center;
    place-content:center;
    text-align: center;
    border-radius: 20px;
    position: relative;
    display: flex;
    overflow: hidden;
    
    animation: boxShadow 2s linear infinite;
}

#text {
     color: white;
    margin-top:center;
    z-index: 2;
}

#box::before {
    margin-left: 50px;
    margin-top: -100px;
    content: "";
    position: absolute;
    width: 100px;
    height: 600px;
    background: linear-gradient(rgb(225, 0, 255), rgb(255, 0, 0));
    animation: rotate 4s linear infinite;
}

#box::after {
    filter: blur(3px);
    border-radius: 20px;
    content: "";
    position: absolute;
    inset: 5px;
    animation: colurChange 2s linear infinite;
    
}

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg);
    }
}

#zoom,.zoom{
    animation: zooom 1.2s linear infinite;
}


@keyframes zooom {
    0%{
        transform: scale(.9);
    } 50%{
        transform: scale(1,1)
    } 70%{
        transform: scale(1)
    }100%{
        transform: scale(.9)
    }
}


@keyframes colurChange {
    0%{
       background-color: red;
    } 50%{
       background-color: rgb(255, 132, 0);
    } 70%{
       background-color: rgb(75, 172, 5);
    }100%{
       background-color: rgb(0, 94, 255);
    }
}

@keyframes boxShadow {
    0%{
      box-shadow: 1px .5px 10px 2px red;
    } 50%{
      box-shadow: 1px 1px 20px 4px rgb(255, 132, 0);
    } 70%{
      box-shadow: 1px 2px 30px 8px rgb(75, 172, 5);
    }100%{
      box-shadow: 1px .5px 10px 2px rgb(0, 94, 255);
    }
}


html{
    background-image:linear-gradient(to right,purple,black)
}

*{
    color: white;
}
