
#box {
    background-color: rgb(0, 0, 0);
    width: 200px;
    height: 50px;
    display: grid;
    place-items: center;
    place-content:center;
    text-align: center;
    border-radius: 20px;
    position: relative;
    display: flex;
    overflow: hidden;
}

#text {
     color: white;
    font-size: xx-large;
    margin-top:center;
    z-index: 2;
}

#box::before {
    margin-left: 50px;
    margin-top: -100px;
    content: "";
    position: absolute;
    width: 100px;
    height: 600px;
    background: linear-gradient(rgb(225, 0, 255), rgb(255, 0, 0));
    animation: rotate 4s linear infinite;
}

#box::after {
    filter: blur(3px);
    border-radius: 20px;
    content: "";
    position: absolute;
    background-color: rgb(21, 9, 91);
    inset: 5px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg);
    }
}

#zoom,.zoom{
    animation: zooom 1.2s linear infinite;
}


@keyframes zooom {
    0%{
        transform: scale(.9);
    } 50%{
        transform: scale(1,1)
    } 70%{
        transform: scale(1)
    }100%{
        transform: scale(.9)
    }
}

html{
    background-image:linear-gradient(to right,purple,black)
}

*{
    color: white;
}